header {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: #20467a;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #20467a), color-stop(100%, #3b7fdb));
  background-image: -webkit-linear-gradient(left, #20467a, #3b7fdb);
  background-image: linear-gradient(to right,#20467a, #3b7fdb);
}
header:before {
  content: '';
  display: inline-block;
  height: 80%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}
header .greeting {
  display: inline-block;
  vertical-align: middle;
}
header .greeting img {
  width: 9.375em;
  height: 9.375em;
  border-radius: 50%;
  border: 3px solid #fff;
}
header .greeting .social {
  margin-top: 6.25em;
}
header .greeting .social a {
  color: white;
  padding: 0 10px;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}
header .greeting .social a:hover {
  color: #55acee;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}
header nav {
  position: absolute;
  bottom: 3.125em;
  width: 100%;
  text-align: center;
}
header nav button {
  width: 15em;
}
header nav button:before {
  content: "Wanna see my stuff?";
}
header nav button:hover:before {
  content: "Let's do this!";
}

main section {
  text-align: left;
  padding: 3.125em 18.75em;
}
main section h1 {
  font-weight: 400;
}
main section article {
  margin-top: 3.125em;
  text-align: center;
}
main section article p {
  text-align: left;
  font-size: 1.25em;
  line-height: 2.1875em;
  font-family: 'Adamina', serif;
  color: #fff;
}
main section article p:not(:first-child) {
  padding-top: 1.25em;
}
main section article img {
  margin: 1.875em 0;
}
main section article img.styletile-farmplicity {
  max-width: 80%;
  box-shadow: 0 0 3px #383838;
}
main section article img.userflow {
  max-width: 80%;
}
main section article .browser {
  position: relative;
  width: 75%;
  margin: 1.25em;
  min-height: 220px;
  padding-top: 24px;
  background: #96a0a2;
  border-radius: 3px;
  box-shadow: 0 0 3px #383838;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  font: 100 30px 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 30px 10px;
  text-align: center;
  color: #ccc;
  height: 14.0625em;
  overflow: scroll;
}
main section article .browser:after,
main section article .browser:before {
  font-weight: 300;
  line-height: 1;
}
main section article .browser:before {
  position: absolute;
  left: 5px;
  top: -15px;
  content: "\00B7\00B7\00B7";
  color: #ccc;
  font-size: 50px;
  letter-spacing: -2px;
}
main section article .browser[data-url]:after {
  position: absolute;
  left: 45px;
  right: 15px;
  top: 6px;
  content: attr(data-url);
  padding: 2px;
  background: #ccd1d2;
  font-size: 7px;
  font-family: 'Verdana';
  text-align: left;
  color: #000;
  border-radius: 1px;
}
main section article .browser.image {
  padding: 23px 0 0;
}
main section article .browser.image img {
  display: block;
  border-radius: 0 0 3px 3px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
main section.farmplicity {
  background-color: #30a64f;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #30a64f), color-stop(100%, #30d95d));
  background-image: -webkit-linear-gradient(left, #30a64f, #30d95d);
  background-image: linear-gradient(to right,#30a64f, #30d95d);
}
