@import 'bourbon/bourbon';
@import 'neat/neat';

$mobile: new-breakpoint(max-width em(767));
$tablet: new-breakpoint(min-width em(768) max-width em(959));
$desktop: new-breakpoint(min-width em(960));

body, html {
  height: 100%;
}

header {
  width: 100%;
  height: 100%;
  @include media($mobile) {
    height: auto;
    h1 {
      font-size: em(36);
      line-height: em(25);
    }
    h2 {
      font-size: em(25);
      line-height: em(25);
    }
  }
  text-align: center;
  @include linear-gradient(to right, #20467A, #3B7FDB);
  .animated {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
  }
  .greeting {
    padding: 10% em(50);
    @include media($mobile) {
      padding-left: em(13);
      padding-right: em(13);
    }
    img {
      width: em(150);
      height: em(150);
      @include media($mobile) {
        width: em(100);
        height: em(100);
      }
      border-radius: 50%;
      border: 3px solid #fff;
    }
  }
  nav {
    position: absolute;
    bottom: em(50);
    width: 100%;
    text-align: center;
    @include media($mobile) {
      position: relative;
    }
    button {
      width: em(240);
      @include media($mobile) {
        margin-top: em(60);
      }
      &:before {
        content: "Wanna see my stuff?";
      }
      &:hover:before {
        content: "Let's do this!";
      }
    }
  }
}

main {
  section {
    height: 100vh;
    overflow: hidden;
    text-align: left;
    padding: em(50) 20%;
    @include media($mobile) {
      height: auto;
      padding: em(10) em(25);
      h1 {
        font-size: em(30);
      }
      h2 {
        font-size: em(24);
        line-height: em(24);
        margin-top: 0;
        margin-bottom: 0;
      }
      h3 {
        font-size: em(20);
        line-height: em(24);
        margin-top: em(5);
        margin-bottom: 0;
      }
      .tag {
        font-size: em(10);
        padding: 0 em(10);
        line-height: 2.3em;
        margin: em(3);
      }
      .fadeout {
        display: none;
      }
      .reveal {
        display: none;
      }
      .screenshots {
        display: none;
      }
    }
    @include media($tablet) {
      height: em(700);
      padding: em(30) 10%;
      h1 {
        font-size: em(36);
      }
      h2 {
        font-size: em(28);
        line-height: em(28);
        margin-top: 0;
        margin-bottom: 0;
      }
      h3 {
        font-size: em(24);
        line-height: em(28);
        margin-top: em(5);
        margin-bottom: 0;
      }
      .tag {
        font-size: em(10);
        padding: 0 em(10);
        line-height: 2.3em;
        margin: em(3);
      }
    }
    position: relative;

    h1 {
      font-weight: 400;
    }
    article {
      margin-top: em(50);
      text-align: center;
      @include media($mobile) {
        margin-top: em(10);
        text-align: left;
      }
      p {
        text-align: left;
        font-size: em(20);
        line-height: em(35);
        font-family: 'Adamina', serif;
        color: #fff;
        &:not(:first-child) {
          padding-top: em(20);
        }
        @include media($mobile) {
          font-size: em(15);
          line-height: em(25);
        }
      }
      img {
        margin: em(30) 0;
      }
      img.styletile {
        max-width: 50%;
        box-shadow: 0 0 3px #383838;
      }
      img.userflow {
        max-width: 80%;
      }
      img.code {
        max-width: 80%;
        box-shadow: 0 0 3px #383838;
      }
      @include media($mobile) {
        .process {
          display: none;
        }
      }
      figure {
        width: 100%;
        text-align: center;
      }
    }

    &.farmplicity {
      // @include linear-gradient(to right, #30A64F, #30D95D);
      background-color: #2CBF53;
      .fadeout {
          position: absolute;
          bottom: 0;
          height: em(300);
          width: 100%;
          background: -webkit-linear-gradient(
              rgba(255, 255, 255, 0) 0%,
              rgba(44, 191, 83, 1) 100%
          );
          background-image: linear-gradient(
              rgba(255, 255, 255, 0) 0%,
              rgba(44, 191, 83, 1) 100%
          );
      }
    }
    &.voyager {
      background-color: #1b72bf;
      .fadeout {
          position: absolute;
          bottom: 0;
          height: em(300);
          width: 100%;
          background: -webkit-linear-gradient(
              rgba(255, 255, 255, 0) 0%,
              rgba(27, 114, 191, 1) 100%
          );
          background-image: linear-gradient(
              rgba(255, 255, 255, 0) 0%,
              rgba(27, 114, 191, 1) 100%
          );
      }
    }
    &.pantastic {
      background-color: #A3972C;
      .fadeout {
          position: absolute;
          bottom: 0;
          height: em(300);
          width: 100%;
          background: -webkit-linear-gradient(
              rgba(255, 255, 255, 0) 0%,
              rgba(163, 151, 44, 1) 100%
          );
          background-image: linear-gradient(
              rgba(255, 255, 255, 0) 0%,
              rgba(163, 151, 44, 1) 100%
          );
      }
    }
    &.other {
      height: auto;
      overflow: visible;
      background-color: tomato;
      text-align: left;
      h1 {
        text-align: left;
      }
      @include media($desktop) {
        a.browser {
          margin: em(15) 0;
        }
        figure {
          width: 40%;
          margin-right: 5%;
          display: inline-block;
          &:hover {
            opacity: 0.9;
          }
        }
        figcaption {
          text-align: left;
        }
        .simpleform img {
          display: none;
        }
      }
      @include media($mobile) {
        .simpleform video {
          display: none;
        }
      }
      @include media($tablet) {
        .simpleform video {
          display: none;
        }
      }
    }
  }

}

.reveal {
  position: absolute;
  bottom: em(60);
  margin-left: 20%;
  @include media($tablet) {
    margin-left: 25%;
    bottom: em(30);
  }
  font-weight: 600;
  font-size: em(20);
}

.wireframes img {
  max-width: 80%;
}

.browser {
  position: relative;
  width: 100%;
  @include media($mobile) {
    width: 100%;
    min-height: 0;
    margin: em(15) 0;
  }
  margin: em(20) 0;
  padding-top: 24px;
  background: #96a0a2;
  border-radius: 3px;
  box-shadow: 0 0 3px #383838;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  font: 100 30px 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 30px 10px;
  text-align: center;
  color: #ccc;
}

.browser:after,
.browser:before {
  font-weight: 300;
  line-height: 1;
}
.browser:before {
  position: absolute;
  left: 5px;
  top: -15px;
  content: "\00B7\00B7\00B7";
  color: #ccc;
  font-size: 50px;
  letter-spacing: -2px;
}
.browser[data-url]:after {
  position: absolute;
  left: 45px;
  right: 15px;
  top: 6px;
  content: attr(data-url);
  padding: 2px;
  background: #ccd1d2;
  font-size: 7px;
  font-family: 'Verdana';
  text-align: left;
  color: #000;
  border-radius: 1px;
}
.browser.image {
  padding: 23px 0 0;
}
.browser.image img, .browser.image video {
  display: block;
  border-radius: 0 0 3px 3px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.section-nav {
  position: fixed;
  top: 18%;
  right: 3%;
  z-index: 10;
  width: em(200);
  text-align: center;
  display: none;
  button {
    padding: 10px 20px;
    width: em(130);
    font-weight: 400;
    border-color: rgba(255,255,255,0.6);
    @include media($mobile) {
      display: none;
    }
    @include media($tablet) {
      display: none;
    }
  }
  .vertical-line-short {
    border-left: 2px dotted rgba(255,255,255,0.3);
    height: em(50);
    margin-left: em(100);
    @include media($mobile) {
      display: none;
    }
    @include media($tablet) {
      display: none;
    }
  }
  .vertical-line-tall {
    border-left: 2px dotted rgba(255,255,255,0.3);
    height: em(100);
    margin-left: em(100);
    @include media($mobile) {
      display: none;
    }
    @include media($tablet) {
      display: none;
    }
  }
}

footer {
  width: 100%;
  padding: em(50) 0;
  @include media($mobile) {
    padding: em(10) 0;
  }
  text-align: center;
  @include linear-gradient(to right, #20467A, #3B7FDB);
  a {
    margin: em(30) em(10);
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    &:hover {
      color: rgba(255,255,255,0.7);
      -webkit-transition: all .5s linear;
      transition: all .5s linear;
    }
  }

  .fa {
    color: white;
    font-size: 3em;
    @include media($mobile) {
      font-size: 2em;
    }
  }
}