@import 'bourbon/bourbon';

body, html {
  height: 100%;
}

header {
  width: 100%;
  height: 100%;
  text-align: center;
  @include linear-gradient(to right, #20467A, #3B7FDB);
  .greeting {
    padding: 10% em(50);
    img {
      width: em(150);
      height: em(150);
      border-radius: 50%;
      border: 3px solid #fff;
    }
    .social {
      margin-top: em(100);
      a {
        color: white;
        padding: 0 10px;
        -webkit-transition: all .5s linear;
        transition: all .5s linear;
        &:hover {
          color: #55acee;
          -webkit-transition: all .5s linear;
          transition: all .5s linear;
        }
      }
    }
  }
  nav {
    position: absolute;
    bottom: em(50);
    width: 100%;
    text-align: center;
    button {
      width: em(240);
      &:before {
        content: "Wanna see my stuff?";
      }
      &:hover:before {
        content: "Let's do this!";
      }
    }
  }
}

main {
  section {
    height: calc(100vh - 6.25em);
    overflow: hidden;
    text-align: left;
    padding: em(50) 20%;
    position: relative;
    // -webkit-transition: all 6s linear;
    // transition: all 6s linear;
    h1 {
      font-weight: 400;
    }
    article {
      margin-top: em(50);
      text-align: center;
      p {
        text-align: left;
        font-size: em(20);
        line-height: em(35);
        font-family: 'Adamina', serif;
        color: #fff;
        &:not(:first-child) {
          padding-top: em(20);
        }
      }
      img {
        margin: em(30) 0;
      }
      img.styletile {
        max-width: 50%;
        box-shadow: 0 0 3px #383838;
      }
      img.userflow {
        max-width: 80%;
      }
      img.code {
        max-width: 80%;
        box-shadow: 0 0 3px #383838;
      }
      figure {
        width: 100%;
        text-align: center;
      }
    }

    &.farmplicity {
      // @include linear-gradient(to right, #30A64F, #30D95D);
      background-color: #2CBF53;
      .fadeout {
          position: absolute;
          bottom: 0;
          height: em(300);
          width: 100%;
          background: -webkit-linear-gradient(
              rgba(255, 255, 255, 0) 0%,
              rgba(44, 191, 83, 1) 100%
          );
          background-image: linear-gradient(
              rgba(255, 255, 255, 0) 0%,
              rgba(44, 191, 83, 1) 100%
          );
      }
    }
    &.voyager {
      background-color: #1b72bf;
      .fadeout {
          position: absolute;
          bottom: 0;
          height: em(300);
          width: 100%;
          background: -webkit-linear-gradient(
              rgba(255, 255, 255, 0) 0%,
              rgba(27, 114, 191, 1) 100%
          );
          background-image: linear-gradient(
              rgba(255, 255, 255, 0) 0%,
              rgba(27, 114, 191, 1) 100%
          );
      }
    }
    &.pantastic {
      background-color: #A3972C;
      .fadeout {
          position: absolute;
          bottom: 0;
          height: em(300);
          width: 100%;
          background: -webkit-linear-gradient(
              rgba(255, 255, 255, 0) 0%,
              rgba(163, 151, 44, 1) 100%
          );
          background-image: linear-gradient(
              rgba(255, 255, 255, 0) 0%,
              rgba(163, 151, 44, 1) 100%
          );
      }
    }
    &.other {
      min-height: calc(100vh - 6.25em);
      overflow: visible;
      background-color: tomato;
      text-align: center;
      h1 {
        text-align: left;
      }
      .browser {
        width: 344px; //add media queries here
        margin-left: 2.5%;
        margin-right: 2.5%;
      }
      a:hover {

      }
    }
  }

}

.reveal {
  position: absolute;
  bottom: em(60);
  margin-left: 20%;
  font-weight: 600;
  font-size: em(20);
}

.wireframes img {
  max-width: 80%;
}

.browser {
  position: relative;
  width: 683.25px;
  margin: em(20) 0;
  min-height: 220px;
  padding-top: 24px;
  background: #96a0a2;
  border-radius: 3px;
  box-shadow: 0 0 3px #383838;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  font: 100 30px 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 30px 10px;
  text-align: center;
  color: #ccc;
}

.browser:after,
.browser:before {
  font-weight: 300;
  line-height: 1;
}
.browser:before {
  position: absolute;
  left: 5px;
  top: -15px;
  content: "\00B7\00B7\00B7";
  color: #ccc;
  font-size: 50px;
  letter-spacing: -2px;
}
.browser[data-url]:after {
  position: absolute;
  left: 45px;
  right: 15px;
  top: 6px;
  content: attr(data-url);
  padding: 2px;
  background: #ccd1d2;
  font-size: 7px;
  font-family: 'Verdana';
  text-align: left;
  color: #000;
  border-radius: 1px;
}
.browser.image {
  padding: 23px 0 0;
}
.browser.image img, .browser.image video {
  display: block;
  border-radius: 0 0 3px 3px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.section-nav {
  position: fixed;
  top: 18%;
  right: 5%;
  z-index: 10;
  width: em(200);
  text-align: center;
  display: none;
  button {
    padding: 10px 20px;
    width: em(150);
    font-weight: 600;
  }
  .vertical-line-short {
    border-left: 2px dotted rgba(255,255,255,0.3);
    height: em(50);
    margin-left: em(100);
  }
  .vertical-line-tall {
    border-left: 2px dotted rgba(255,255,255,0.3);
    height: em(100);
    margin-left: em(100);
  }
}