@import 'bourbon/bourbon';

header {
  width: 100%;
  height: 100vh;
  text-align: center;
  @include linear-gradient(to right, #20467A, #3B7FDB);
  &:before {
    content: '';
    display: inline-block;
    height: 80%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
  .greeting {
    display: inline-block;
    vertical-align: middle;
    img {
      width: em(150);
      height: em(150);
      border-radius: 50%;
      border: 3px solid #fff;
    }
    .social {
      margin-top: em(100);
      a {
        color: white;
        padding: 0 10px;
        -webkit-transition: all .5s linear;
        transition: all .5s linear;
        &:hover {
          color: #55acee;
          -webkit-transition: all .5s linear;
          transition: all .5s linear;
        }
      }
    }
  }
  nav {
    position: absolute;
    bottom: em(50);
    width: 100%;
    text-align: center;
    button {
      width: em(240);
      &:before {
        content: "Wanna see my stuff?";
      }
      &:hover:before {
        content: "Let's do this!";
      }
    }
  }
}

main {
  section {
    text-align: left;
    padding: em(50) 20%;
    h1 {
      font-weight: 400;
    }
    article {
      margin-top: em(50);
      text-align: center;
      p {
        text-align: left;
        font-size: em(20);
        line-height: em(35);
        font-family: 'Adamina', serif;
        color: #fff;
        &:not(:first-child) {
          padding-top: em(20);
        }
      }
      img {
        margin: em(30) 0;
      }
      img.styletile-farmplicity {
        max-width: 50%;
        box-shadow: 0 0 3px #383838;
      }
      img.userflow {
        max-width: 80%;
      }
      figure {
        width: 100%;
        text-align: center;
      }
      .browser {
        position: relative;
        width: 683.25px;
        margin: em(20) 0;
        min-height: 220px;
        padding-top: 24px;
        background: #96a0a2;
        border-radius: 3px;
        box-shadow: 0 0 3px #383838;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        font: 100 30px 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        padding: 30px 10px;
        text-align: center;
        color: #ccc;
        height: em(225);
        &.listings {
          height: auto;
        }
        overflow: scroll;
      }

      .browser:after,
      .browser:before {
        font-weight: 300;
        line-height: 1;
      }
      .browser:before {
        position: absolute;
        left: 5px;
        top: -15px;
        content: "\00B7\00B7\00B7";
        color: #ccc;
        font-size: 50px;
        letter-spacing: -2px;
      }
      .browser[data-url]:after {
        position: absolute;
        left: 45px;
        right: 15px;
        top: 6px;
        content: attr(data-url);
        padding: 2px;
        background: #ccd1d2;
        font-size: 7px;
        font-family: 'Verdana';
        text-align: left;
        color: #000;
        border-radius: 1px;
      }
      .browser.image {
        padding: 23px 0 0;
      }
      .browser.image img {
        display: block;
        border-radius: 0 0 3px 3px;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &.farmplicity {
      @include linear-gradient(to right, #30A64F, #30D95D);
    }
    &.pantastic {
      background-color: tomato;
    }
  }

}