*
{
  margin: 0;
  padding: 0;
}

html, body
{
  height: 100%;
  color: white;
}

h1, h2, h3, h4, h5, h6, li {
  font-family: 'Montserrat', sans-serif !important;
}

a:focus {
  outline: none !important;
}

.sidepanel {
  background-color: #285EA8;
  width: 25em;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  text-align: center;
  padding: 0 45px;
  padding-bottom: 10px;
}

.label-blue {
  background-color: #4679BD;
}

#face-wrapper .face {
  margin-bottom: 10px;
}

.sidepanel h1 {
  margin-bottom: 0;
  color: #fff;
}

.sidepanel h5 {
  color: #C9C9C9;
  margin-top: 10px;
}

.sidepanel .tags {
  margin-top: 30px;
}

.contact-links {
  margin-top: 40px;
}

.contact-links i {
    padding: 0px 5px;
}

.contact-links a, .contact-links a:hover, .contact-links a:visited, .contact-links a:active {
    color: white;
    cursor: pointer;
}

.triangle {
    width: 100%;
    height: 0;
    padding-left:50%;
    padding-bottom: 50%;
    overflow: hidden;
    position: absolute;
    bottom:0;
    z-index: 0;
}
.triangle:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-500px;
    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    border-bottom: 500px solid rgba(0,0,0,0.3);
}

.modal h4 {
    color: #333;
}

main {
  width: calc(100% - 25em);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  overflow: scroll;
  background-color: #20467A;
}

main h1 {
  color: #fff;
}
.section {
  height: calc(100% / 3);
  position: relative;
}

.section span.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
}

.section span.div-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.section:hover {
  background-color: #20467A;
}

.section span .centerful {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.centerful h1 {
  margin-bottom: 0;
}

.centerful h3 {
  color: #C9C9C9;
  margin-top: 10px;
}

.centerful h4 {
  margin-top: 15px;
}

.section-1 {
  background-color: rgba(0,0,0,0.2);
  display: block;
}

.section-2 {
  background-color: rgba(0,0,0,0.4);
  display: block;
}

.section-3 {
  background-color: rgba(0,0,0,0.6);
  display: block;
  height: 34%;
}

.back-arrow {
  position: absolute;
  top: 45px;
  left: 30px;
  display: none;
  z-index: 2;
}

a.back-arrow:hover {
  color: #428bca;
}

.goods {
  height: calc(100% - 115px);
  position: relative;
  width: 100%;
  display: none;
  text-align: center;
  overflow: hidden;
}

.info-bar {
  height: 30px;
}

.info-bar-1 {
  background-color: rgba(0,0,0,0.4);
}

.info-bar-2 {
  background-color: rgba(0,0,0,0.6);
}

.info-bar a, .info-bar a:hover, .info-bar a:visited, .info-bar a:active {
  color: white;
}

.info-bar ul {
  padding: 5px 0;
}

.info-bar ul li {
  display: inline;
  padding: 0 10px;
}

.carousel, .carousel-inner {
  height: calc(100% - 30px);
}

.carousel-inner .item {
  text-align: center;
  height: 100%;

}

.carousel-inner>.item>img {
  position: absolute;
  margin: auto;
  padding: 80px;
  max-height: 100% !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel-caption h5 a, .carousel-caption h5 a:hover, .carousel-caption h5 a:visited, .carousel-caption h5 a:active {
  color: white;
}

.carousel-control {
  background-image: none !important; /* remove background gradients on controls */
}

.fa-chevron-left {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  left: 20%;
}

.fa-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  right: 20%;
}






